{% extends 'base.html.twig' %}

{% block title %}New Weather{% endblock %}

{% block body %}
    <h1>Create new Weather</h1>

    {{ include('weathers/_form.html.twig') }}

    <a href="{{ path('app_weathers_index') }}">back to list</a>
{% endblock %}
